<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

	<targets>
		<target name="logfile-main" xsi:type="File" fileName="Nimania.log" />
		<target name="logfile-plugins" xsi:type="File" fileName="NimaniaPlugins.log" />
		<target name="stdout" xsi:type="ColoredConsole" layout="[${longdate}] [${level:uppercase=true:padding=5}] ${logger:padding=28}: ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="stdout" />
		<logger name="Nimania.Plugins.*" minlevel="Trace" writeTo="logfile-plugins" final="true" />
		<logger name="*" minlevel="Debug" writeTo="logfile-main" />
	</rules>
</nlog>
